@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bg-image {
  background-repeat: no-repeat;

  background-position: center;
}

.background-gradient {
  background: hsla(217, 91%, 60%, 1);

  background: linear-gradient(
    90deg,
    hsla(217, 91%, 60%, 1) 0%,
    hsla(224, 76%, 48%, 1) 100%
  );

  background: -moz-linear-gradient(
    90deg,
    hsla(217, 91%, 60%, 1) 0%,
    hsla(224, 76%, 48%, 1) 100%
  );

  background: -webkit-linear-gradient(
    90deg,
    hsla(217, 91%, 60%, 1) 0%,
    hsla(224, 76%, 48%, 1) 100%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#3B82F6", endColorstr="#1D4ED8", GradientType=1 );
}
